doctype html
html(lang='en')
    head
        meta(chardet='UTF-8')
        title='Esimerkki'
        link(href='./css/style' rel='stylesheet')
    body
        block content

        block scripts
        script(src="./js/main.js")

    